
body {
  background-color: lightgray
}

input {
  margin: 5px;
}



.container-sac {
  
  margin-right: auto;

}

.container-yuba {
text-align: center;
}

.container-driver {
  
  align-content: center;
 
}

.container-main {
  align-content: center;
}

.container {
  text-align: center;
  padding: 30px;
}